---
import MenuSup from '../components/MenuSup.astro';
---

<nav class="navbar navbar-expand-lg bg-black" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/astro2/img/logo.jpg" width="80" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/astro2/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/astro2/tendencias">Tendencias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/astro2/tv">Tv</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/astro2/cine">Cine</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Generos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"><MenuSup/></a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/astro2/contactos">Contactos</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
